<launch>
	
	<!-- run the motors left and right for encoder information -->
	<node pkg="phidgets" type="motor" name="motor_left" respawn="true"
	 args="_serial:=469515 __name:=motorLeft _name:=motorLeft "/>
	
	<node pkg="phidgets" type="motor" name="motor_right" respawn="true"
	 args="_serial:=475406 __name:=motorRight _name:=motorRight"/>

	<!-- load parameters -->
	<rosparam command="load" file="controller_params.yaml"/>
	
	<!-- run the dead reckoning node -->
	<node pkg="rosie_dead_reckoning" type="rosie_reckoning_self" name="rosie_dead_reckoning" respawn="true" />
	
</launch>
